body {
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 4em;
    margin-top: 3.75em;
}

input {
    border: 0.1em solid black;
    border-radius: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.75em;
    width: 25em;
    height: 3em;
    margin: 0;
    font-size: 1.2em;
}

button {
    border: 0.1em solid black;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.75em;
    height: 3em;
    font-size: 1.2em;
    margin: 0;
}

button input:focus {
    outline: none;
    background-color: #f0f0f0;
}
