<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="static/icon.png" type="image/png">
    <link rel="search" type="application/opensearchdescription+xml" title="The Big Bang" href="/static/opensearch.xml">
    <title>Big Bang Search</title>
</head>
<body>
  <div class="search-container">
    <h1>the big bang</h1>
    <p>the smarter way to search.</p>
    <div class="search-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m18.677 19.607l-5.715-5.716a6 6 0 0 1-7.719-9.133a6 6 0 0 1 9.134 7.718l5.715 5.716l-1.414 1.414l-.001.001ZM9.485 5a4 4 0 1 0 2.917 1.264l.605.6l-.682-.68l-.012-.012A3.972 3.972 0 0 0 9.485 5Z"/></svg>
      <input placeholder="Search the web..." id="searchBox" autocomplete="false"></input>
    </div>
    <div class="search-buttons">
      <div class="search-button" id="searchButton" onclick="searchButtonPressed()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m18.677 19.607l-5.715-5.716a6 6 0 0 1-7.719-9.133a6 6 0 0 1 9.134 7.718l5.715 5.716l-1.414 1.414l-.001.001ZM9.485 5a4 4 0 1 0 2.917 1.264l.605.6l-.682-.68l-.012-.012A3.972 3.972 0 0 0 9.485 5Z"/></svg>Search</div>
      <div class="search-button" id="luckyButton" onclick="luckyButtonPressed()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.335 10.337a.5.5 0 0 1 .28-.864l6.004-.712a.5.5 0 0 0 .396-.287l2.532-5.49a.5.5 0 0 1 .908 0l2.532 5.49a.5.5 0 0 0 .395.287l6.004.712a.5.5 0 0 1 .28.864l-4.438 4.105a.5.5 0 0 0-.15.464l1.177 5.93a.5.5 0 0 1-.735.534l-5.275-2.953a.5.5 0 0 0-.488 0l-5.276 2.952a.5.5 0 0 1-.735-.533l1.178-5.93a.5.5 0 0 0-.15-.464z"/></svg>I'm Feeling Lucky</div>
      <!-- <div class="search-button" id="helpButton" onclick="showHelp()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 19h3v3h-3zm2-17c5.35.22 7.68 5.62 4.5 9.67c-.83 1-2.17 1.66-2.83 2.5C13 15 13 16 13 17h-3c0-1.67 0-3.08.67-4.08c.66-1 2-1.59 2.83-2.25C15.92 8.43 15.32 5.26 12 5a3 3 0 0 0-3 3H6a6 6 0 0 1 6-6"/></svg>What is this?</div> -->
    </div>
    <div class="links">
      <a href="https://github.com/yuckdevchan/thebigbang">Source Code</a>
    </div>
    <div id="themeToggleButton">
      <div id="themeToggleIcon"></div>
    </div>
  </div>
</body>
<script src="/static/search.js"></script>